<!DOCTYPE html>
<html th:replace="~{layout/masterLayout :: layout(~{::main})}" lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
    <div class="container">
        <h1 class="text-center display-3 mt-5">Home Page</h1>

        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
            ea excepturi facilis fuga harum iste natus neque.
            Atque corporis dicta dolorum ex expedita fugiat nisi
            recusandae sed? Nobis, possimus, voluptatibus.</span>
            <span>Blanditiis deleniti exercitationem facilis ipsum iste iusto
                nesciunt non porro, possimus saepe. Ex impedit, molestiae
                nulla perferendis quasi quia reiciendis? Doloribus eaque
                exercitationem illo maxime neque, reprehenderit saepe sint
                soluta.</span><span>Architecto consequatur cumque, cupiditate
                eos et, ipsum, nesciunt nobis quo repudiandae temporibus ullam voluptatum.
                Alias consectetur harum necessitatibus quia recusandae rerum
                soluta. Error fuga harum voluptatem? Facere quos vel veritatis.</span><span>Adipisci
                animi architecto asperiores assumenda blanditiis, commodi deserunt dolore enim esse illum in itaque laborum laudantium maiores molestiae molestias mollitia nobis officia, officiis possimus quaerat quidem quo saepe tempora temporibus?</span><span>Ad commodi dolor facere fugit in laborum libero magnam natus, nemo sequi, sunt totam voluptatum! Adipisci aperiam cumque doloribus earum harum laborum minima neque odio possimus quaerat, quod tenetur unde.</span><span>Asperiores consequuntur, dignissimos exercitationem facere ipsa minima necessitatibus odit, omnis provident quidem sapiente soluta unde! Animi doloremque harum in ipsum iure, labore maxime nesciunt nulla perspiciatis qui quidem rerum sequi?</span><span>Ad aliquam commodi distinctio dolore dolorem doloremque doloribus est et facere fugit inventore iste iusto
                magnam magni maiores, natus numquam officiis omnis qui quia quo sapiente similique tempora tempore voluptate.</span><span>Adipisci amet aut esse eveniet fugit voluptate. Blanditiis eum, hic id incidunt optio pariatur sed!
                Architecto dolore earum exercitationem, facilis id ipsum laudantium maxime odio pariatur quaerat ratione suscipit vel!</span><span>Aliquam amet asperiores delectus id, molestias placeat quos repellat sint

                veritatis voluptates? Beatae corporis maxime nesciunt, quibusdam tempora vitae voluptas! Dignissimos dolore eos soluta tempore voluptatem! Inventore magnam minima quia!</span><span>Accusantium ad alias, architecto aspernatur aut cum deleniti dignissimos distinctio doloremque earum est excepturi, ipsa laboriosam magni natus nihil quae quasi qui quis, quos tenetur totam ullam vel veritatis voluptatum?</span></p>
    </div>


</main>
</body>
</html>